@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    
    color: white;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}
#root{
  background-color: black;
}
/* Hide the scrollbar */
html,body {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  