.founderImg,.cofounderImg1{
    display: none;
    z-index: 1111;
    position: absolute;
    
    
    /* rotate: -20deg; */
    /* animation:animate 2s linear infinite; */
}
.founderImg2,.cofounderImg2{
    display: none;
    z-index: 1111;
    position: absolute;

    /* rotate: -10deg; */
    /* animation:animate 2s linear infinite; */
    transition: all ;

}
@keyframes animate{
    0%{
        transform: rotate(-20deg);
    }
    50% {
        transform:  rotate(0);
    }
    100% {
        transform:  rotate(-20deg);
    }
}
.founderName:hover .founderImg{
    display: block ;
}
.founderName:hover .founderImg2{
    display: block ;
}
.cofounderName:hover .cofounderImg1{
    display: block ;
}
.cofounderName:hover .cofounderImg2{
    display: block ;
}